.container {
	width: 800px;
	margin: 0 auto;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
    .container {
      width: 600px;
    }
}

@media (max-width: 768px) {

    .container {
      width: 100%;
      overflow-x: hidden;
    }

    .phone {
      margin: 0 auto;
    }

  
    nav ul {
      position: absolute;
      right: 0px;
      margin-top: 75px;
      padding-bottom: 20px;
      flex-direction: column;
      background-color: white;
      transform: translateX(100%);
    }

    nav li {
      padding: 15px;
      opacity: 0;

    }

    nav .burger {
      display : block;
    }

    .nav-active{
      transform: translateX(0%);
    }

    @keyframes navLinkFade{
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px,6px);
    }

     .toggle .line2 {
      opacity: 0;
    }

     .toggle .line3 {
      transform: rotate(45deg) translate(-5px,-6px);
    }
}


@media (max-width: 629px) {
    .video {
      display : none;
    } 
}

@media (max-width: 400px) {

    .container {
      width: 100%;
      overflow-x: hidden;
   }

    .phone {
      margin: 0 auto;
    }

    .video {
      display : none;
    }


  .download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .btn-green {
    margin-top : 20px;
  }

   nav ul {
      position: absolute;
      right: 0px;
      margin-top: 75px;
      padding-bottom: 20px;
      flex-direction: column;
      background-color: white;
      transform: translateX(100%);
    }

    nav li {
      padding: 15px;
      opacity: 0;

    }

    nav .burger {
      display : block;
    }

    .nav-active{
      transform: translateX(0%);
    }

    @keyframes navLinkFade{
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px,6px);
    }

     .toggle .line2 {
      opacity: 0;
    }

     .toggle .line3 {
      transform: rotate(45deg) translate(-5px,-6px);
    }
}

@media (max-width: 320px) {

    .container {
      width: 100%;
      overflow-x: hidden;
   }


    .cotainer img {
      margin: 10px auto;
    }

     .phone {
      margin: 0 auto;
    }

    .video {
      display : none;
    }

    .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .btn-green {
    margin-top : 20px;
    }


    nav .logo {
      width: 150px;
      margin-bottom: 10px;
    }


   nav ul {
      position: absolute;
      right: 0px;
      margin-top: 75px;
      padding-bottom: 20px;
      flex-direction: column;
      background-color: white;
      transform: translateX(100%);
    }

    nav li {
      padding: 15px;
      opacity: 0;

    }

    nav .burger {
      display : block;
    }

    .nav-active{
      transform: translateX(0%);
    }

    

    @keyframes navLinkFade{
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px,6px);
    }

     .toggle .line2 {
      opacity: 0;
    }

     .toggle .line3 {
      transform: rotate(45deg) translate(-5px,-6px);
    }
}
  

